
@font-face {
  font-family: 'CircularRegular';
  src: url('../fonts/Circular-Regular.ttf');
}

@font-face {
  font-family: 'CircularBold';
  src: url('../fonts/Circular-Bold.ttf');
}

body {
  margin: 0;
  font-family: 'CircularRegular',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: #E8E8E8;
  transform: translate3d(0px, 0px, 0px);
  transition: all 700ms ease;
  height: 100%;
  min-height: 100vh;
}

@media (max-width: 768px){
  body {
    overflow-y: auto;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5{
  font-family: 'CircularBold';
  margin: 0;
  padding: 0;
}

a{
  font-family: 'CircularBold';
  text-decoration: none;
  color: #191919;
  outline: none;
  font-size: 14px;
}

p{
  padding: 0;
  margin: 0;
}
