@import '../../../assets/style/variables.scss';

.home{
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url('../../../assets/img/wave.svg');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    &-hero{
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        @media (max-width: $medium-screen) {
            flex-direction: column;
        }
        &-contents {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 0.8;
            h1{
                font-family: $base-font-family;
                color: $white;
                line-height: 4rem;
                font-size: 80px;
                @media (max-width: $medium-screen) {
                    text-align: center;
                    line-height: 3rem;
                    font-size: 50px;
                }
                @media (min-width: $large-screen) {
                    line-height: 5rem;
                    font-size: 100px;
                }
            }
            span{
                font-family: $base-font-family;
                font-style: italic;
                color: $white;
                padding: 1rem 0;
                font-size: 14px;
                @media (max-width: $medium-screen) {
                    font-size: 12px;
                    display: inline-block;
                    text-align: center;
                    padding: 0.5rem 2rem;
                }
                @media (min-width: $large-screen) {
                    font-size: 16px;
                    display: inline-block;
                    text-align: center;
                    margin-left: -2.5rem;
                    // padding: 0.5rem 1rem;
                }
            }
        }
        &-link{
            font-size: 12px;
            text-decoration: none !important;
            color: white;
        }
        &-link:hover{
            color: white;
        }
    }
}