@import '../../../assets/style/variables.scss';

.footer{
    height: 50px;
    display: flex;
    position: fixed;
    left: 0;
    // top: 45%;
    @media(max-width: $medium-screen){
        bottom: 0 !important;
        height: 40px;
        width: 100% !important;
    }
    &-container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        @media(min-width: 769px){
            padding: 0 2rem;
        }
        @media(max-width: $medium-screen){
            width: 100% !important;
            flex-direction: row !important;
            justify-content: center;
            align-items: center;
        }
    }
    &-logo{
        font-size: 12px;
        color: $base-font-color !important;
        text-decoration: none !important;
        @media(max-width: $medium-screen){
            padding: 5px 0;
        }
    }

    &-link{
        white-space: nowrap;
        font-family: $base-font-family;
        font-size: 12px;
        margin-right: 2rem;
        transition: 0.4s ease-in-out;
        padding: 1rem 0;
        @media(max-width: $medium-screen){
            margin: 0 1rem;
        padding: 0rem 0;
        }
    }
    &-link:hover{
        transition: 0.4s ease-in-out;
        transform: translate(0,-3px);

    }
}