@import '../../../assets/style/variables.scss';

.contact{
    // display: flex;
    // overflow: auto;
    height: 100vh;
    width: 100%;
    // background-image: url('../../../assets/img/background.png');
    background-color: #191919;
    background-position: center;
    background-size: cover;
    align-items: center;
    @media (max-width: $medium-screen){
        overflow-y: auto;
        padding-top: 5rem;
        padding-bottom: 2.5rem;
        flex-direction: column;
    }
    &-overlay {
        height: 79.9%;
        width: 70%;
        border-radius: 10px;
        background-color: white;
        z-index: 999;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: fixed;
        @media (max-width: $medium-screen) {
            height: 80%;
            width: 80%;
        }
        &-user {

        }
        &-close {
            position: absolute;
            right: 1rem;
            border-radius: 50%;
            top:1rem;
            cursor: pointer;
            width: 30px;
            height: 30px;
            background-color: rgba(0, 0, 0, 0.671);
        }
    }
    &-hero{
        height: 100%;
        width: 100%;
        flex-direction: column;
        display: flex;
        flex: 1;
        justify-content: center;    
        align-items: center;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        transition: background-image 1s ease-in-out;
        h3 {
            user-select: none;
            color: white;
            cursor: pointer;
            transition: ease-in-out 0.3s;
        }
        h3:hover {
            user-select: none;
            transition: ease-in-out 5s;
            color: rgb(0, 140, 255) !important;
        }
        &-down {
            cursor: pointer;
            font-size: 25px;
            position: absolute;
            bottom: $spacer * 3;
            &.active {
                opacity: 0;
            }
            &.inactive {
                opacity: 1;
            }
        }
        &-up {
            cursor: pointer;
            font-size: 25px;
            position: absolute;
            top: $spacer * 3;
            &.active {
                opacity: 0;
            }
            &.inactive {
                opacity: 1;
            }
        }
        @media (max-width: $medium-screen) {
            flex-direction: column;
        }
    }
}