@import '../../../assets/style/variables.scss';

.loader {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}