@import '../../../assets/style/variables.scss';

.navbar{
    height: 60px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    @media(max-width: $medium-screen){
        height: 80px;
    }
    &-container{
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(min-width: 769px){
            padding: 0 2rem;
        }
        @media(max-width: $medium-screen){
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &-logo{
        font-size: 14px;
        color: $white !important;
        text-decoration: none !important;
        transition: 0.5s ease-in-out;
        @media(max-width: $medium-screen){
            padding: 5px 0;
        }
    }
    &-logo-black{
        font-size: 14px;
        font-family: $h4-font-family;
        color: $base-font-color !important;
        text-decoration: none !important;
        transition: 0.5s ease-in-out;
        @media(max-width: $medium-screen){
            padding: 5px 0;
        }
    }

    &-link{
        white-space: nowrap;
        font-family: $base-font-family;
        font-size: 12px;
        color: $white !important;
        margin-left: 2rem;
        transition: 0.4s ease-in-out;
        @media(max-width: $medium-screen){
            margin: 0 1rem;
        }
    }
    &-link-black{
        white-space: nowrap;
        font-family: $base-font-family;
        font-size: 12px;
        color: $black !important;
        margin-left: 2rem;
        transition: 0.4s ease-in-out;
        @media(max-width: $medium-screen){
            margin: 0 1rem;
        }
    }
    &-link:hover{
        // text-decoration: line-through;
        transition: 0.4s ease-in-out;
        transform: translate(0,3px);
    }
    .active{
        font-weight: 700;
        // text-decoration: line-through;
    }
    
}