@import '../../../assets/style/variables.scss';

.projects{
    // display: flex;
    // overflow: auto;
    height: 100vh;
    width: 100%;
    background-color: #E8E8E8;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    @media (max-width: $medium-screen){
        overflow-y: auto;
        padding-top: 5rem;
        padding-bottom: 2.5rem;
        flex-direction: column;
    }
    &-hero {
        height: 100%;
        width: 100%;
        display: flex;
        flex: 1;
        justify-content: center;    
        align-items: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        color: $base-font-color !important;
        border-radius: 10px;
        transition: background-image 1s ease-in-out;

        h2 {
            font-size: 35px;
            cursor: pointer;
        }

        &-down {
            cursor: pointer;
            font-size: 25px;
            position: absolute;
            bottom: $spacer * 3;

            &.active {
                opacity: 0;
            }

            &.inactive {
                opacity: 1;
            }
        }

        &-up {
            cursor: pointer;
            font-size: 25px;
            position: absolute;
            top: $spacer * 3;

            &.active {
                opacity: 0;
            }

            &.inactive {
                opacity: 1;
            }
        }

        @media (max-width: $medium-screen) {
            justify-content: space-between;
            display: flex !important;
            align-items: center;
            h2 {
                margin-bottom: 3rem;
                font-size: 1.8rem;
            }
     
        }
        h2:hover{
            font-size: 50px;
            transition: 0.5s ease-in-out;
            color: $white;
            @media (max-width: $small-screen) {
                color: #191919;
                font-size: 35px;
            }
        }
    }

    &-details {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;
        height: 100vh;
        @media(max-width: $small-screen) {
            padding: 1rem 2rem 4rem 2rem;
            height: unset;
            justify-content: start;
        }
        h1 {
            font-size: 3.5rem;
            border-bottom: 1px solid #383838;
            @media(max-width: $small-screen) {
                font-size: 2.5rem;
            }
        }
    }
    &-slider {
        height: 100%;
        .slick-list {
            height: 100%;
            .slick-track {
                height: 100%;
                div {
                    height: 100%;
                }
            }
        }
    }
}
