@import '../../../assets/style/variables.scss';
/* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px grey;
        border-radius: 15px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(126, 126, 126);
        border-radius: 15px;
    }
.about{
    // display: flex;
    // overflow: auto;
    height: 100vh;
    width: 100%;
    background-color: #191919;
    background-size: cover;
    background-repeat: no-repeat;   
    align-items: center;
    @media (max-width: $medium-screen){
        overflow-y: hidden;
        padding-top: 5rem;
        padding-bottom: 2.5rem;
        flex-direction: column;
    }
    @media (max-width: $small-screen) {
        padding-top: 0;
        padding-bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }
    &-box {
        width: 10rem;
        height: 10rem;
        border: 2px solid white;
        border-radius: 10px;
        cursor: pointer;
        margin: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $small-screen) {
            width: 5rem;
            margin: 1rem;
            height: 5rem;
        }
        
    }
    &-title {
        font-size: 2rem;
        @media (max-width: $small-screen) {
            font-size: 1.5rem;
            padding-right: 3.5rem !important;
        }
    }
    &-body {
        p {
            font-size: 1rem;
            @media (max-width: $small-screen) {
                font-size: 14px;
            }
        }
    }
    &-overlay {
        height: 79.9%;
        width: 70%;
        border-radius: 10px;
        z-index: 500;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow-y: auto;
        overflow-x: hidden;
        position: fixed;
        @media (max-width: $medium-screen) {
            height: 80%;
            width: 80%;
        }
        &-header {
            position: 'relative';
            font-size: 4rem;
            color: '#191919';
            @media (max-width: $medium-screen) {
                font-size: 2.5rem;
            }
        }
        &-subheader {
            position: 'relative';
            font-size: 4rem;
            color: '#191919';
            @media (max-width: $large-screen) {
                margin-top: 1rem;
                font-size: 2.5rem;
                text-align: center;
            }
            @media (max-width: $medium-screen) {
                margin-top: 1rem;
                font-size: 1.3rem;
                text-align: center;
            }
        }
        &-body {
            position: 'relative';
            font-size: 1.5rem;
            color: '#191919';
            @media (max-width: $large-screen) {
                text-align: center;
            }
            @media (max-width: $medium-screen) {
                text-align: center;
                font-size: 1.2rem;
            }
        }
        &-body-subtext {
            font-size: 18px;
            display: flex;
            align-items: center;
            margin: 5px 0;
            @media (max-width: $medium-screen) {
                font-size: 12px;
            }
        }
        &-image {
            border-radius: 50%;
            height: 200px;
            width: 200px;
            margin: 0;
            flex-shrink: 0;

            // box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.4);
            // box-shadow: 0px 0px 10px 0px rgba(0, 69, 116, 0.33);

            @media (max-width: $medium-screen) {
                width: 120px;
                height: 120px;
                margin: 0 auto;     
            }
        }
        &-text {
            font-size: 24px;
            margin: 5px 0;
            @media (max-width: $medium-screen) {
                font-size: 16px;
            }
        }
        &-subtext {
            font-size: 18px;
            margin: 5px 0;
            @media (max-width: $medium-screen) {
                font-size: 12px;
                text-align: center;
            }
        }
        &-close {
            position: absolute;
            right: 1.5rem;
            // border-radius: 50%;
            top:1.5rem;
            cursor: pointer;
            width: 30px;
            height: 30px;
            // background-color: rgb(0, 0, 0);
            @media (max-width: $small-screen) {
                right: 1.3rem;
                top: 1.3rem;
                width: 20px;
                height: 20px;
    
            }
        }
        &-height {
            &-one {
                height: 30vh;
              
             
             
                @media(max-width: 2000px) {
                    height: 65vh;
                }
                @media(max-width: 1600px) {
                    height: 70vh;
                }
                @media (max-width: $xlarge-screen) {
                    height: 85vh;
                }
                @media (max-width: $large-screen) {
                    height: 95vh;
                }
             
          
            }
        }
    }
    &-hero{
        height: 100%;
        width: 100%;
        flex-direction: column;
        display: flex;
        flex: 1;
        justify-content: center;    
        align-items: center;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        transition: background-image 1s ease-in-out;
        h3 {
            user-select: none;
            color: white;
            cursor: pointer;
            transition: ease-in-out 0.3s;
        }
        h3:hover {
            user-select: none;
            transition: ease-in-out 5s;
            color: rgb(0, 140, 255) !important;
        }
        &-down {
            cursor: pointer;
            font-size: 25px;
            position: absolute;
            bottom: $spacer * 3;
            &.active {
                opacity: 0;
            }
            &.inactive {
                opacity: 1;
            }
        }
        &-up {
            cursor: pointer;
            font-size: 25px;
            position: absolute;
            top: $spacer * 3;
            &.active {
                opacity: 0;
            }
            &.inactive {
                opacity: 1;
            }
        }
        @media (max-width: $medium-screen) {
            flex-direction: column;
        }
    }
    &-skills {
        &-icons {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            flex-direction: column;
            margin: 1rem 0;

            svg {
                width: 100px;
                height: 100px;
            }
        }
    }
}